body{
    background-color:#007965;
    color: white;
    
}


h1{ font-family: 'New Rocker', cursive;
    margin-top:30px;
}


 .png{
     margin-left: 100px;
     margin-top:40px;
 }
    
 

   

.navbar{
    color: #cdb30c;
}




